@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* Global Font */
* {
  font-family: 'Urbanist', sans-serif;
}

/* Utility Classes */
.cursor-pointer {
  cursor: pointer;
}

.spin-animation{
    animation: spin 1s linear infinite;
}

.invoiceform input:focus
.invoiceform textarea:focus
.invoiceform select:focus{
    box-shadow: none !important;
}
